<header>
    <nav>
      <h1><a href="/">Creature Combat</a></h1>
      <ul>
        <li><a href="/userConnect">Connect Your Stats to the DB!</a></li>
        <li><a href="/battle">Battle Screen</a></li>
      </ul>
    </nav>
  </header>